/**
 *
 * Apply Here your Custom CSS
 *
*/
body {
    font-family: 'Roboto', sans-serif !important;
}

footer.main {
    margin-top: 15px;
    position: fixed;
    bottom: 12px;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #ebebeb;
}

.tile-stats {
    padding: 18px !important;
}

.page-body .select2-container .select2-choice {
    height: 38px !important;
    line-height: 35px !important;
}

.heading-bg {
    color: #606c82;
}

.error {
    color: red;
}

.add-user-btn, .add-post-btn, .add-category-btn, .add-media-btn {
    margin-bottom: 8px;
}

/*front-end : Upload Media Form Input Text*/
.dropzone .dz-message .dz-button {
    font-size: 24px !important;
    color: lightgrey !important;
}

#createMediaForm {
    margin-top: 35px !important;
}

.dropzone {
    border-radius: 8px;
    border: 1px solid #303641 !important;
}

